<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetallDon_Controller_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MetallDon_Controller_Manager.Properties.Settings>
            <setting name="ipDB" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="nameDB" serializeAs="String">
                <value>metalldon</value>
            </setting>
            <setting name="userDB" serializeAs="String">
                <value>metalldon</value>
            </setting>
            <setting name="passDB" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="intervalUpdateDB" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="loggingMode" serializeAs="String">
                <value>debug</value>
            </setting>
        </MetallDon_Controller_Manager.Properties.Settings>
    </applicationSettings>
</configuration>